<div id="subheading-container" class="py-3">
    <span class="bullet-point"></span>
    <hr id="hr-left">
    <span id="heading">FEATURED</span>
    <hr id="hr-right">
    <span class="bullet-point"></span>
</div>
