<div id="user-menu">
    <ul>
        <li class="item">
            <a href="/user">View Profile</a>
        </li>
        <li class="item">
            <a href="/user/update">Edit Profile</a>
        </li>
        <li class="item">
            <a href="/user/logout">Sign Out</a>
        </li>
        <li>
            <form action="/user/delete?_method=DELETE" method="POST">
                <button id="delete">Delete Account</button>
            </form>
        </li>
    </ul>
</div>